name: refresh-documentation
run-name: ${{ github.actor }} is refreshing documentation
on: [workflow_dispatch]
jobs:
  build-documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
      - run: python -m pip install beautifulsoup4
      - run: python -m pip install requests
      - run: python modInfoGenerator.py
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add ./supportedMods.md
          git commit -m "Auto Update SupportedMods.md"
          git push